<style type="text/css">
    .ui-scroller-content-infinite { 
        padding: 15px 15px 0; 
    }
</style>
<div jqm-page>
    <div jqm-header>
        <a jqm-button jqm-theme="a" href="#/" icon="ui-icon-home" buttonpos="left" shadow="true">Home</a>
        <h1>iScroll</h1>
    </div>
    <div iscroll="wrapper1" bounce="false" transition="true" vertical="true"
            scroller-content-class="ui-scroller-content-infinite"
            on-scroll-move="pageIscroll.onScrollMove()"
            on-scroll-end="pageIscroll.infiniteScroll()">
        <ul jqm-listview>
            <li ng-repeat="i in data | fb:f"
                jqm-li-link icon="ui-icon-arrow-r">
                List item {{i}}
            </li>
        </ul>
        <div id="infinite-loading" class="pullUp loading" style="width:100%; margin:15px 0 0 -15px;">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel">Loading...</span>
        </div>
    </div>
    
</div>