<div jqm-page>
    <div jqm-header>
        <a jqm-button jqm-theme="a" href="#/" icon="ui-icon-home" buttonpos="left" shadow="true">Home</a>
        <h1>iScroll Refresh</h1>
    </div>
    <div iscroll="wrapper" bounce="true" transition="true" vertical="true"
            pull-refresh="true" 
            pull-down="pullDownAction()" 
            pull-up="pullUpAction()">
        <ul jqm-listview>
            <li ng-repeat="i in data"
                jqm-li-link icon="ui-icon-arrow-r">
                List item {{i}}
            </li>
        </ul>
    </div>
    
</div>