<div jqm-page>
    <div jqm-header>
        <a jqm-button jqm-theme="a" href="#/" icon="ui-icon-home" buttonpos="left" shadow="true">Home</a>
        <h1>Table</h1>
    </div>
    <div iscroll="wrapper1" class="ui-body-c" transition="true" vertical="true">
    	<!-- <div jqm-popup="columnPopup" jqm-theme="none" ng-animate="'pop'">
	        <div jqm-controlgroup type="vertical">
                <div jqm-checkbox ng-model="c.show" ng-repeat="c in columns">{{c.column}}</div>
            </div>
	    </div>
	    <div jqm-button mini="true" class="ui-table-columntoggle-btn"
		    jqm-popup-target="columnPopup" 
		    jqm-popup-model="buttonPopupList" 
		    ng-click="buttonPopupList = true">
	      	Columns
	    </div>
    	<table class="ui-responsive table-stroke ui-table ui-table-columntoggle">
		    <thead>
		       <tr>
		         <th data-priority="2" ng-show="columns[0].show">Rank</th>
		         <th>Movie Title</th>
		         <th data-priority="3" ng-show="columns[1].show">Year</th>
		         <th data-priority="1" ng-show="columns[2].show"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
		         <th data-priority="5" ng-show="columns[3].show">Reviews</th>
		       </tr>
		     </thead>
		     <tbody>
		       <tr>
		         <th ng-show="columns[0].show">1</th>
		         <td><a href="http://en.wikipedia.org/wiki/Citizen_Kane" class="ui-link">Citizen Kane</a></td>
		         <td ng-show="columns[1].show">1941</td>
		         <td ng-show="columns[2].show">100%</td>
		         <td ng-show="columns[3].show">74</td>
		       </tr>
		       <tr>
		         <th ng-show="columns[0].show">2</th>
		         <td><a href="http://en.wikipedia.org/wiki/Casablanca_(film)" class="ui-link">Casablanca</a></td>
		         <td ng-show="columns[1].show">1942</td>
		         <td ng-show="columns[2].show">97%</td>
		         <td ng-show="columns[3].show">64</td>
		       </tr>
		       <tr>
		         <th ng-show="columns[0].show">3</th>
		         <td><a href="http://en.wikipedia.org/wiki/The_Godfather" class="ui-link">The Godfather</a></td>
		         <td ng-show="columns[1].show">1972</td>
		         <td ng-show="columns[2].show">97%</td>
		         <td ng-show="columns[3].show">87</td>
		       </tr>
		       <tr>
		         <th ng-show="columns[0].show">4</th>
		         <td><a href="http://en.wikipedia.org/wiki/Gone_with_the_Wind_(film)" class="ui-link">Gone with the Wind</a></td>
		         <td ng-show="columns[1].show">1939</td>
		         <td ng-show="columns[2].show">96%</td>
		         <td ng-show="columns[3].show">87</td>
		       </tr>
		       <tr>
		         <th ng-show="columns[0].show">5</th>
		         <td><a href="http://en.wikipedia.org/wiki/Lawrence_of_Arabia_(film)" class="ui-link">Lawrence of Arabia</a></td>
		         <td ng-show="columns[1].show">1962</td>
		         <td ng-show="columns[2].show">94%</td>
		         <td ng-show="columns[3].show">87</td>
		       </tr>
		     </tbody>
		</table>

    	<div jqm-popup="columnPopup2" jqm-theme="none" ng-animate="'pop'">
	        <div jqm-controlgroup type="vertical">
                <div jqm-checkbox jqm-theme="a" ng-model="c.show" ng-repeat="c in columns">{{c.column}}</div>
            </div>
	    </div>
	    <div jqm-button mini="true" class="ui-table-columntoggle-btn"
		    jqm-popup-target="columnPopup2" 
		    jqm-popup-model="buttonPopupList2" 
		    ng-click="buttonPopupList2 = true">
	      	Columns
	    </div>
    	<table class="ui-body-d ui-shadow table-stripe ui-responsive ui-table ui-table-columntoggle">
		    <thead>
		       <tr class="ui-bar-d">
		         <th data-priority="2" ng-show="columns[0].show">Rank</th>
		         <th>Movie Title</th>
		         <th data-priority="3" ng-show="columns[1].show">Year</th>
		         <th data-priority="1" ng-show="columns[2].show"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
		         <th data-priority="5" ng-show="columns[3].show">Reviews</th>
		       </tr>
		     </thead>
		     <tbody>
		       <tr>
		         <th ng-show="columns[0].show">1</th>
		         <td><a href="http://en.wikipedia.org/wiki/Citizen_Kane" class="ui-link">Citizen Kane</a></td>
		         <td ng-show="columns[1].show">1941</td>
		         <td ng-show="columns[2].show">100%</td>
		         <td ng-show="columns[3].show">74</td>
		       </tr>
		       <tr>
		         <th ng-show="columns[0].show">2</th>
		         <td><a href="http://en.wikipedia.org/wiki/Casablanca_(film)" class="ui-link">Casablanca</a></td>
		         <td ng-show="columns[1].show">1942</td>
		         <td ng-show="columns[2].show">97%</td>
		         <td ng-show="columns[3].show">64</td>
		       </tr>
		       <tr>
		         <th ng-show="columns[0].show">3</th>
		         <td><a href="http://en.wikipedia.org/wiki/The_Godfather" class="ui-link">The Godfather</a></td>
		         <td ng-show="columns[1].show">1972</td>
		         <td ng-show="columns[2].show">97%</td>
		         <td ng-show="columns[3].show">87</td>
		       </tr>
		       <tr>
		         <th ng-show="columns[0].show">4</th>
		         <td><a href="http://en.wikipedia.org/wiki/Gone_with_the_Wind_(film)" class="ui-link">Gone with the Wind</a></td>
		         <td ng-show="columns[1].show">1939</td>
		         <td ng-show="columns[2].show">96%</td>
		         <td ng-show="columns[3].show">87</td>
		       </tr>
		       <tr>
		         <th ng-show="columns[0].show">5</th>
		         <td><a href="http://en.wikipedia.org/wiki/Lawrence_of_Arabia_(film)" class="ui-link">Lawrence of Arabia</a></td>
		         <td ng-show="columns[1].show">1962</td>
		         <td ng-show="columns[2].show">94%</td>
		         <td ng-show="columns[3].show">87</td>
		       </tr>
		    </tbody>
		</table> -->

		<h4>JQM Table Toggle</h4>
		<div jqm-table head-theme="a" body-theme="b" type="stripe" shadow="true">
			<table>
				<thead>
			       <tr class="ui-bar-d">
			         	<th data-priority="2">Rank</th>
			         	<th>Movie Title</th>
			         	<th data-priority="3">Year</th>
			         	<th data-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
			         	<th data-priority="4">Reviews</th>
			       </tr>
			     </thead>
			    <tbody>
					<tr ng-repeat="movie in data">
						<th>{{movie.no}}</th>
						<td><a ng-href="movie.link" class="ui-link">{{movie.name}}</a></td>
						<td>{{movie.year}}</td>
						<td>{{movie.rating}}</td>
						<td>{{movie.reviews}}</td>
					</tr>
			    </tbody>
			</table>
		</div>

		<h4>JQM Table Reflow</h4>
		<div jqm-table reflow="true" type="stroke">
			<table>
				<thead>
			       <tr>
			         	<th data-priority="2">Rank</th>
			         	<th>Movie Title</th>
			         	<th data-priority="3">Year</th>
			         	<th data-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
			         	<th data-priority="4">Reviews</th>
			       </tr>
			     </thead>
			    <tbody>
					<tr ng-repeat="movie in data">
						<th>{{movie.no}}</th>
						<td><a ng-href="movie.link" class="ui-link">{{movie.name}}</a></td>
						<td>{{movie.year}}</td>
						<td>{{movie.rating}}</td>
						<td>{{movie.reviews}}</td>
					</tr>
			    </tbody>
			</table>
		</div>

		<div style="height:40px"></div>
	</div>
</div>